@using UdemyNet.Models
@model List<Customer> 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @* NPM *@
        <title>Customer List</title>
        <link href="~/style.css"rel="stylesheet"/>,
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
        rel="stylesheet"/>

    </head>
    <body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
          

        <div class="container">
            <h3>Customer List</h3>
           <a asp-action="Create" asp-controller="Home">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                   <th>Name</th>
                   <th>Surname</th>
                   <th>Age</th>
                   <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                   <td>@item.Name</td>
                   <td>@item.Surname</td>
                   <td>@item.Age</td>
                   <td>
                       <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id">Update</a>
                       <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id">Remove</a>
                   </td>
                </tr>
                }
            </tbody>
        
        
        </table>

        </div>
       <footer  class="bg-dark p-5 text-center text-white fixed-bottom">
             Her hakkı saklıdır.
       </footer>  
    </body>
</html>
   