@model UdemyNet.Models.Customer 

@{
    //int age = 22 ;
    @* string value = string.Empty;
    if(age > 18)
    {
        value = "18 yaşından büyük";
    }
    else 
    {
        value = "18 yaşından küçük";
    } *@
}

    <p>
       ViewBag =  @ViewBag.Name
    </p>
    <hr />
    <p>
       ViewData =  @ViewData["Name"] 
    </p>
    <hr />
     <p>
       TempData = @TempData["Name"]
     </p>
     <hr/>
     <P>
        Name = @Model.Name
        <br />
        <hr />
        Surname = @Model.Surname
        <br />
        <hr />
        Age = @Model.Age
     </P>

   @* <p>
       Durum = @(age>18?"18 yaşından büyük":"18 yaşından küçük")
   </p> *@